<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">Kauf im Frontend verhindern</label>
    <label lang="en">Disable buying products in Frontend</label>
    <version>1.0.0</version>
    <copyright>(c) by Pascal Heidmann</copyright>
    <license>Apache 2.0</license>
    <author>Pascal Heidmann</author>

    <compatibility minVersion="5.5.0" />

    <changelog version="1.0.0">
        <changes lang="de">Erste Veröffentlichung</changes>
        <changes lang="en">Initial Release</changes>
    </changelog>
</plugin>
